Flask==2.3.3
Flask-SQLAlchemy==3.1.1
pandas==2.2.2
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
requests==2.31.0
Werkzeug==3.0.1
gunicorn
{
    "email_templates": [
        {
            "created_time": "2020-07-10T16:29:50+05:30",
            "attachments": null,
            "subject": "New contact created",
            "module": {
                "api_name": "Contacts",
                "id": "3652397000000002179"
            },
            "last_version_statistics": {
                "tracked": 1,
                "delivered": 1,
                "opened": 0,
                "bounced": 0,
                "sent": 1,
                "clicked": 0
            },
            "created_by": {
                "name": "Patricia Boyle",
                "id": "3652397000000186017"
            },
            "modified_time": "2020-07-10T16:30:26+05:30",
            "folder": {
                "name": "Public Email Templates",
                "id": "3652397000000000077"
            },
            "last_usage_time": "2021-03-17T18:36:00+05:30",
            "associated": false,
            "name": "Contact created",
            "consent_linked": false,
            "modified_by": {
                "name": "Patricia Boyle",
                "id": "3652397000000186017"
            },
            "id": "3652397000002497001",
            "editor_mode": "gallery",
            "category": "normal",
            "favorite": false
        },
        {
            "created_time": "2019-07-17T10:56:33+05:30",
            "attachments": null,
            "subject": "Record(s) Deleted in CRM",
            "module": {
                "api_name": "Leads",
                "id": "3652397000000002175"
            },
            "last_version_statistics": {
                "tracked": 0,
                "delivered": 0,
                "opened": 0,
                "bounced": 0,
                "sent": 0,
                "clicked": 0
            },
            "created_by": {
                "name": "Patricia Boyle",
                "id": "3652397000000186017"
            },
            "modified_time": "2019-07-17T10:56:33+05:30",
            "folder": {
                "name": "Public Email Templates",
                "id": "3652397000000000077"
            },
            "last_usage_time": "2022-10-26T11:55:45+05:30",
            "associated": true,
            "name": "Delete Records Notification",
            "consent_linked": false,
            "modified_by": {
                "name": "Patricia Boyle",
                "id": "3652397000000186017"
            },
            "id": "3652397000000892003",
            "editor_mode": "gallery",
            "category": "normal",
            "favorite": false
        },
        {
            "created_time": "2018-11-14T15:30:13+05:30",
            "attachments": null,
            "subject": "Big Deal Alert",
            "module": {
                "api_name": "Deals",
                "id": "3652397000000002181"
            },
            "last_version_statistics": {
                "tracked": 1,
                "delivered": 2,
                "opened": 1,
                "bounced": 0,
                "sent": 4,
                "clicked": 1
            },
            "created_by": null,
            "modified_time": "2018-11-14T15:30:13+05:30",
            "folder": {
                "name": "Public Email Templates",
                "id": "3652397000000000077"
            },
            "last_usage_time": "2022-11-21T15:12:14+05:30",
            "associated": true,
            "name": "Big Deal Alert",
            "consent_linked": false,
            "modified_by": null,
            "id": "3652397000000000079",
            "editor_mode": "rich_text",
            "category": "system_templates",
            "favorite": false
        }
    ],
    "info": {
        "per_page": 200,
        "count": 3,
        "page": 1,
        "more_records": false
    }
}